# Excel pliki tymczasowe
~$*.xl*
~$*.xls*
~$*.xlsx
~$*.xlsm
~$*.xlam
*.tmp

# Excel pliki odzyskiwania
.~lock.*

# Pliki systemowe Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Pliki systemowe macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Lokalne buildy i releasy (trzymamy tylko w releases/)
/build/
/dist/

# Logi
*.log
